{{> menu id="about"}}

<section class="ui left aligned middle aligned segment">
  
    <h2>{{title}}</h2>
      <p>
        Information about the app will be displayed here
      </p>

    <div class="ui centered card">
  <div class="image">
    <img src="../images/stevie.jpg"> 
  </div>
  <div class="content">
    <a class="header"> {{emps.name}} </a>
    <div class="meta">
      <span class="date">Joined in {{emps.joined}} </span>
    </div>
    <div class="description">
       {{emps.name}} is an {{emps.job}} living in {{emps.city}}.
    </div>
  </div>
  <div class="extra content">
    <a>
      <i class="user icon"></i>
       {{emps.mates}} contacts
    </a>
  </div>
</div>
</section>
