{{> menu id="about"}}

<section class="ui left aligned middle aligned segment">
  
    <h2>{{title}}</h2>
      <p>
        Information about the app will be displayed here
      </p>

    {{#each employees}}
      
    <div class="ui centered card">
  <div class="image">
    <img src="../images/{{image}}"> 
  </div>
  <div class="content">
    <a class="header"> {{fullname}} </a>
    <div class="meta">
      <span class="date">Joined in {{joined}} </span>
    </div>
    <div class="description">
       {{name}} is an {{job}} living in {{city}}.
    </div>
  </div>
  <div class="extra content">
    <a>
      <i class="user icon"></i>
       {{mates}} contacts
    </a>
    {{/each}}
  </div>
</div>
</section>
